@import 'tailwindcss';
@import 'tailwindcss-primeui';

@utility scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #d1d5db;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
    height: 0;
  }
}
